PORT=3000
NODE_ENV=production
JWT_SECRET=8K10KA91JSKK9899KSKSK88K8
DATABASE_PATH=./game.db

# Facebook OAuth
FACEBOOK_APP_ID=1234567890
FACEBOOK_APP_SECRET=afcf4f835eef14b880e6918ea2ee5cc0
FACEBOOK_CALLBACK_URL=https://vini-server.onrender.com/auth/facebook/callback

# VK OAuth
VK_APP_ID=cd72a1d5c499325780b32d7e3029713a
VK_APP_SECRET=cab4824b525511a8e9fb15b1a9d834da
VK_CALLBACK_URL=https://vini-server.onrender.com/auth/vk/callback

# Line OAuth
LINE_CHANNEL_ID=e197685b789ec59c91eef06bb0084fe4
LINE_CHANNEL_SECRET=06809bc49fc9301f51a02f441681f2c9
LINE_CALLBACK_URL=https://vini-server.onrender.com/auth/line/callback

# Game Server
GAME_SERVER_IP=https://vini-server.onrender.com
